html {
  font-family: Arial, sans-serif;
}

h1 {
  color: red;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: navy;
}

li {
  color: white;
  list-style-type: none;
  border: solid;
  border-color: white;
  margin: 1vw;
  padding: 1vw;
}

button:hover {
  background-color: yellow;
}

.messageContainer {

}
